<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DCL">
      <section name="recordFilterService"
               type="DCL.RecordFilterService.Configuration.CustomFilterServiceSection, DCL.RecordFilterService.Configuration, Version=1.0.0.0, PublicKeyToken=4a6c262845010eea"
               allowLocation="true"
               allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <DCL>
    <recordFilterService inputFolder="C:\DCL\CFS\input" outputFolder="C:\DCL\CFS\output" logFolder="C:\DCL\CFS\logs" >
      <action type="remove" customer="DCL" inputRecordType="Person" >
        <condition type="isAllowed" field="FirstName" value="John" />
        <condition type="isAllowed" field="LastName" value="Doe" />
      </action>
      <action type="group" groupName="Duplicates" customer="Google" inputRecordType="Person" >
        <condition type="isDuplicate" field="FirstName,LastName,Gender" />
      </action>
      <action type="group" groupName="Adult Men" customer="Google" inputRecordType="TestRecords" >
        <condition type="isAllowed" field="Gender" value="M" />
        <condition type="isInRange" field="Age" rangeStart="18" rangeEnd="100" />
      </action>
      <action type="group" groupName="Adult Women" customer="Google" inputRecordType="TestRecords" >
        <condition type="isAllowed" field="Gender" value="F" />
        <condition type="isInRange" field="Age" rangeStart="18" rangeEnd="100" />
      </action>
      <action type="group" groupName="Children" customer="Google" inputRecordType="TestRecords" >
        <condition type="isInRange" field="Age" rangeStart="0" rangeEnd="17" />
      </action>
    </recordFilterService>
  </DCL>
</configuration>