<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DCL">
      <section name="customFilterService"
               type="DCL.RecordFilterService.Configuration.CustomFilterServiceSection, DCL.RecordFilterService.Configuration, Version=1.0.0.0, PublicKeyToken=4a6c262845010eea"
               allowLocation="true"
               allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <DCL>
    <customFilterService inputFolder="C:\DCL\CFS\input" outputFolder="C:\DCL\CFS\output" logFolder="C:\DCL\CFS\logs" >
      <action type="remove" groupName="PeopleNotRemoved" customer="Eliza" inputRecordType="TestRecords" >
        <condition type="isAllowed" field="FirstName" value="BERNICE" />
        <condition type="isAllowed" field="LastName" value="BARRANCA" />
      </action>
      <action type="group" groupName="Duplicates" customer="Eliza" inputRecordType="TestRecords" >
        <condition type="isDuplicate" field="FirstName,LastName,Gender" />
      </action>
      <action type="group" groupName="Adult Men" customer="Eliza" inputRecordType="TestRecords" >
        <condition type="isAllowed" field="Gender" value="M" />
        <condition type="isInRange" field="Age" rangeStart="18" rangeEnd="100" />
      </action>
      <action type="group" groupName="Adult Women" customer="Eliza" inputRecordType="TestRecords" >
        <condition type="isAllowed" field="Gender" value="F" />
        <condition type="isInRange" field="Age" rangeStart="18" rangeEnd="100" />
      </action>
      <action type="group" groupName="Children" >
        <condition type="isInRange" field="Age" rangeStart="0" rangeEnd="17" />
      </action>
    </customFilterService>
  </DCL>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>